{% extends "base.html" %}
{% block body %}
	<div id="bio">
		{% for k, v in data["bio"] %}
			<div id="{{k}}">{{v}}</div>
		{% endfor %}
	</div>

	<div id="education">
		{% for edu in data["education"] %}
			{% for k, v in edu %}
				<div id="{{k}}">{{v}}</div>
			{% endfor %}
		{% endfor %}
	</div>

	<div id="occupation">
		{% for edu in data["education"] %}
			{% for k, v in edu %}
				<div id="{{k}}">{{v}}</div>
			{% endfor %}
		{% endfor %}
	</div>

	<div id="languages">
		{% for edu in data["education"] %}
			{% for k, v in edu %}
				<div id="{{k}}">{{v}}</div>
			{% endfor %}
		{% endfor %}
	</div>

	<div id="skills">
		<div id="tech">
			<div id="programming">
				
			</div>

			<div id="bigdata">
				
			</div>

			<div id="ai">
				
			</div>
		</div>

		<div id="interests">
			{% for group in data["interests"] %}
				{% for interest in group %}
					{{interest}}
				{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}